Repository willzunker/lammps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @giacomofiorin, @akohlmey, @stanmoore1, @rbberger, @ellio167, @ndtrung81, @ohenrich, @timattox, @wmbrownintel, @Pakketeretet2, @martok, @hheenen, @pastewka, @lingtikong, @hasanmetin, @danicholson, @andeplane, @jrgissing, @dstelter92

.github/CODEOWNERS:

# This file contains file patterns that triggers automatic
# code review requests from users that are owners of these files
# Order matters, the last match has the highest precedence

# library folders
lib/colvars/*         @giacomofiorin
lib/compress/*        @akohlmey
lib/kokkos/*          @stanmoore1
lib/molfile/*         @akohlmey
lib/qmmm/*            @akohlmey
lib/vtk/*             @rbberger
lib/kim/*             @ellio167

# whole packages
src/COMPRESS/*        @akohlmey
src/GPU/*             @ndtrung81
src/KOKKOS/*          @stanmoore1
src/KIM/*             @ellio167
src/USER-CGDNA/*      @ohenrich
src/USER-CGSDK/*      @akohlmey
src/USER-COLVARS/*    @giacomofiorin
src/USER-DPD/*        @timattox
src/USER-INTEL/*      @wmbrownintel
src/USER-MANIFOLD/*   @Pakketeretet2
src/USER-MEAMC/*      @martok
src/USER-MOFFF/*      @hheenen
src/USER-MOLFILE/*    @akohlmey
src/USER-NETCDF/*     @pastewka
src/USER-PHONON/*     @lingtikong
src/USER-OMP/*        @akohlmey
src/USER-QMMM/*       @akohlmey
src/USER-REAXC/*      @hasanmetin
src/USER-TALLY/*      @akohlmey
src/USER-UEF/*        @danicholson
src/USER-VTK/*        @rbberger

# individual files in packages
src/GPU/pair_vashishta_gpu.*        @andeplane
src/KOKKOS/pair_vashishta_kokkos.*  @andeplane
src/MANYBODY/pair_vashishta_table.* @andeplane
src/USER-MISC/fix_bond_react.*      @jrgissing
src/USER-MISC/*_grem.*              @dstelter92

# tools
tools/msi2lmp/*       @akohlmey

convert atc library header files to C++ style
  lib/atc/Array.h
  lib/atc/Array2D.h
  lib/atc/ElectronPhononExchange.cpp
  lib/atc/FE_Element.cpp
  lib/atc/FE_Engine.cpp
  lib/atc/FE_Interpolate.cpp
  lib/atc/FE_Mesh.cpp
  lib/atc/FE_Mesh.h
  lib/atc/Function.h
  lib/atc/GMRES.h
  lib/atc/KD_Tree.cpp
  lib/atc/KD_Tree.h
  lib/atc/KernelFunction.cpp
  lib/atc/LammpsInterface.h
  lib/atc/OutputManager.cpp
  lib/atc/ShapeFunction.h
  lib/atc/Utility.h
Owners: none

convert awpmd header include to c++ style
  lib/awpmd/ivutils/include/cerf.h
  lib/awpmd/ivutils/include/logexc.h
  lib/awpmd/ivutils/include/vector_3.h
Owners: none

convert colvars lib to use c++ style header files
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarscript.cpp
  lib/colvars/colvartypes.cpp
Owners: @giacomofiorin

convert poems lib to use c++-style header includes
  lib/poems/eulerparameters.cpp
  lib/poems/matrixfun.cpp
  lib/poems/system.cpp
  lib/poems/system.h
  lib/poems/workspace.h
Owners: none

correct indentation
  lib/poems/fastmatrixops.cpp
Owners: none

update src/.gitignore
  src/.gitignore
Owners: none

remove variable length arrays in gpu lib
  lib/gpu/geryon/ocl_device.h
  lib/gpu/geryon/ocl_kernel.h
  lib/gpu/geryon/ocl_memory.h
  lib/gpu/lal_device.cpp
Owners: none

tune OpenCL for generic architecture by default
  lib/gpu/Makefile.linux_opencl
Owners: none

set appropriate flags for computing a vector in constructor of fix restrain
  src/fix_restrain.cpp
  src/fix_restrain.h
Owners: none

updated doc for new fix restrain output
  doc/src/fix_restrain.txt
Owners: none

forgot to reduce energies
  src/fix_restrain.cpp
  src/fix_restrain.h
Owners: none

replace pointless use of strncat() emulating strcat() with plain strcat()
  src/USER-DPD/fix_rx.cpp
Owners: @timattox

Make the description of global properties more explicit
  doc/src/fix_restrain.txt
Owners: none

Update fix_restrain.cpp
  src/fix_restrain.cpp
Owners: none

consistency tweak to package LATTE Install.sh file
  src/LATTE/Install.sh
Owners: none

USER-DPD: bugfix for AtomVecDPD::unpack_restart() and the Kokkos version
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/USER-DPD/atom_vec_dpd.cpp
Owners: @stanmoore1, @timattox

make QEQ package depend on MANYBODY
  src/Depend.sh
  src/QEQ/Install.sh
Owners: none

update dependencies for USER-CGSDK package. make script permissions consistent
  src/COMPRESS/Install.sh
  src/CORESHELL/Install.sh
  src/Depend.sh
  src/GPU/Install.sh
  src/Install.sh
  src/KIM/Install.sh
  src/KOKKOS/Install.sh
  src/LATTE/Install.sh
  src/MEAM/Install.sh
  src/MPIIO/Install.sh
  src/Make.sh
  src/OPT/Install.sh
  src/POEMS/Install.sh
  src/Package.sh
  src/QEQ/Install.sh
  src/REAX/Install.sh
  src/USER-AWPMD/Install.sh
  src/USER-CGDNA/Install.sh
  src/USER-CGSDK/Install.sh
  src/USER-FEP/Install.sh
  src/USER-H5MD/Install.sh
  src/USER-INTEL/Install.sh
  src/USER-MISC/Install.sh
  src/USER-MOLFILE/Install.sh
  src/USER-NETCDF/Install.sh
  src/USER-OMP/Install.sh
  src/USER-OMP/hack_openmp_for_pgi.sh
  src/USER-PHONON/Install.sh
  src/USER-QUIP/Install.sh
  src/USER-SMD/Install.sh
  src/USER-VTK/Install.sh
Owners: @akohlmey, @ndtrung81, @ellio167, @stanmoore1, @ohenrich, @wmbrownintel, @pastewka, @lingtikong, @rbberger

cmake: improve summary
  cmake/CMakeLists.txt
Owners: none

cmake: improve check again make-based build system
  cmake/CMakeLists.txt
Owners: none

cmake: turn PNG, JPEG, GZIP and FFMPEG into options
  cmake/CMakeLists.txt
Owners: none

move enum{IGNORE,WARN,ERROR) into Thermo class and use Thermo:: namespace to reference it
  src/KOKKOS/neigh_bond_kokkos.cpp
  src/domain.cpp
  src/ntopo.h
  src/ntopo_angle_all.cpp
  src/ntopo_angle_partial.cpp
  src/ntopo_angle_template.cpp
  src/ntopo_bond_all.cpp
  src/ntopo_bond_partial.cpp
  src/ntopo_bond_template.cpp
  src/ntopo_dihedral_all.cpp
  src/ntopo_dihedral_partial.cpp
  src/ntopo_dihedral_template.cpp
  src/ntopo_improper_all.cpp
  src/ntopo_improper_partial.cpp
  src/ntopo_improper_template.cpp
  src/thermo.cpp
  src/thermo.h
  src/write_data.cpp
  src/write_restart.cpp
Owners: @stanmoore1

move enum{NSQ,BIN,MULTI} to the Neighbor class in neighbor.h
  src/KOKKOS/nbin_kokkos.cpp
  src/KOKKOS/neigh_list_kokkos.cpp
  src/KOKKOS/neighbor_kokkos.cpp
  src/USER-INTEL/fix_intel.cpp
  src/nbin_standard.cpp
  src/neigh_list.cpp
  src/neighbor.cpp
  src/neighbor.h
  src/nstencil.cpp
Owners: @stanmoore1, @wmbrownintel

move enum{SINGLE,MULTI} and enum{MULTIPLE} to Comm in comm.h
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_tiled_kokkos.cpp
  src/comm.cpp
  src/comm.h
  src/comm_brick.cpp
  src/comm_tiled.cpp
  src/procmap.cpp
Owners: @stanmoore1

fix bug in procmap Comm::MULTIPLE import
  src/comm.h
  src/procmap.cpp
Owners: none

cmake: cache check for installed packages
  cmake/CMakeLists.txt
Owners: none

cmake: only enable CXX by default
  cmake/CMakeLists.txt
Owners: none

move enum{NO_REMAP,X_REMAP,V_REMAP} to Domain class in domain.h
  src/COLLOID/pair_lubricate.cpp
  src/COLLOID/pair_lubricate_poly.cpp
  src/KOKKOS/fix_deform_kokkos.cpp
  src/SRD/fix_srd.cpp
  src/USER-EFF/compute_temp_deform_eff.cpp
  src/USER-EFF/fix_nvt_sllod_eff.cpp
  src/USER-INTEL/fix_nvt_sllod_intel.cpp
  src/USER-OMP/fix_nvt_sllod_omp.cpp
  src/USER-OMP/pair_lubricate_omp.cpp
  src/USER-OMP/pair_lubricate_poly_omp.cpp
  src/compute_temp_deform.cpp
  src/domain.cpp
  src/domain.h
  src/fix_deform.cpp
  src/fix_nvt_sllod.cpp
Owners: @stanmoore1, @wmbrownintel, @akohlmey

cmake: COMPRESS needs zlib
  cmake/CMakeLists.txt
Owners: none

cmake: add a warning for QMMM
  cmake/CMakeLists.txt
Owners: none

move enum{LAYOUT_UNIFORM,LAYOUT_NONUNIFORM,LAYOUT_TILED}; to Comm class
  src/GRANULAR/fix_pour.cpp
  src/KOKKOS/comm_tiled_kokkos.cpp
  src/MISC/fix_deposit.cpp
  src/SHOCK/fix_append_atoms.cpp
  src/USER-SMD/fix_smd_wall_surface.cpp
  src/atom.cpp
  src/balance.cpp
  src/comm.cpp
  src/comm.h
  src/comm_brick.cpp
  src/comm_tiled.cpp
  src/create_atoms.cpp
  src/domain.cpp
  src/fix_balance.cpp
  src/irregular.cpp
  src/replicate.cpp
Owners: @stanmoore1

cmake: MEAM needs a C compiler
  cmake/CMakeLists.txt
Owners: none

cmake: remove -fno-second-underscore injection
  cmake/CMakeLists.txt
Owners: none

move enum{INT,DOUBLE,STRING,BIGINT}; to Dump class in dump.h
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.cpp
  src/USER-UEF/dump_cfg_uef.cpp
  src/USER-VTK/dump_vtk.cpp
  src/dump.h
  src/dump_cfg.cpp
  src/dump_custom.cpp
Owners: @danicholson, @rbberger

cmake: add BUILD_OMP option
  cmake/CMakeLists.txt
Owners: none

cmake: rename ENABLE_MPI to BUILD_MPI
  cmake/CMakeLists.txt
Owners: none

import enum{GEOMETRIC,ARITHMETIC,SIXTHPOWER} from pair.h
  src/KSPACE/ewald_disp.cpp
  src/KSPACE/pppm_disp.cpp
  src/pair.h
Owners: none

type reassignment bugfix for edge atoms
  src/USER-MISC/fix_bond_react.cpp
Owners: @jrgissing

cmake: add Eigen3 download for USER-SMD
  cmake/CMakeLists.txt
Owners: none

cmake: add downlad option for LATTE
  cmake/CMakeLists.txt
Owners: none
