Repository willzunker/lammps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @giacomofiorin, @akohlmey, @stanmoore1, @rbberger, @ellio167, @ndtrung81, @ohenrich, @timattox, @wmbrownintel, @Pakketeretet2, @martok, @hheenen, @pastewka, @lingtikong, @hasanmetin, @danicholson, @andeplane, @jrgissing, @dstelter92

cmake: add option to download voro
  cmake/CMakeLists.txt
Owners: none

cmake: add GPU into to summary
  cmake/CMakeLists.txt
Owners: none

cmake: drop FFTW2 support
  cmake/CMakeLists.txt
  cmake/Modules/FindFFTW2.cmake
Owners: none

cmake: add FFT_SINGLE option
  cmake/CMakeLists.txt
  cmake/Modules/FindFFTW3F.cmake
Owners: none

revive lib/atc/Makefile.mpic++
  lib/atc/Makefile.mpic++
Owners: none

Various fixes to fix/wall/gran DMT
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
  src/GRANULAR/pair_gran_dmt_rolling.cpp
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_gran_hooke_history.h
  src/MAKE/Makefile.mpi
Owners: none

cmake: summary, fix typo, more info
  cmake/CMakeLists.txt
Owners: none

fix stupid bug in AtC when using alloca() instead of VLAs
  lib/atc/Function.cpp
Owners: none

cmake: fix typo and added summary for KSPACE package
  cmake/CMakeLists.txt
  cmake/Modules/FindFFTW3F.cmake
Owners: none

silence compiler warnings about bool vs int in AtC lib
  lib/atc/SparseMatrix-inl.h
Owners: none

Need to use MPI_CXX_INCLUDE_PATH instead of MPI_C_INCLUDE_PATH on Fedora 28 with cmake 3.11
  cmake/CMakeLists.txt
Owners: none

cmake: rename PNG,JPEG options to WITH_*
  cmake/CMakeLists.txt
Owners: none

implement 'dump_modify maxfiles' feature as discussed
  doc/src/dump_modify.txt
  src/dump.cpp
  src/dump.h
Owners: none

port dump_modify maxfiles option to COMPRESS and MPIIO package
  src/COMPRESS/dump_atom_gz.cpp
  src/COMPRESS/dump_cfg_gz.cpp
  src/COMPRESS/dump_custom_gz.cpp
  src/COMPRESS/dump_xyz_gz.cpp
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.cpp
  src/dump.cpp
  src/dump_custom.cpp
Owners: @akohlmey

correct small bugs found by coverity scan static code analysis
  src/POEMS/fix_poems.cpp
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/USER-MISC/fix_bond_react.cpp
Owners: @jrgissing

new dihedral table/cut command
  doc/src/Eqs/dihedral_table.jpg
  doc/src/dihedral_table_cut.txt
  src/USER-MISC/README
  src/USER-MISC/dihedral_table_cut.cpp
  src/USER-MISC/dihedral_table_cut.h
Owners: none

cmake: ENABLE -> PKG for packages
  cmake/CMakeLists.txt
Owners: none

truncate filename path to a segment starting with 'src/'
  src/error.cpp
Owners: none

USER-INTEL: enforce icc and add icc flags
  cmake/CMakeLists.txt
Owners: none

fix force->bounds() bug and remove dead code
  src/USER-MISC/dihedral_table_cut.cpp
Owners: none

patch 11May18
  doc/src/Manual.txt
  src/version.h
Owners: none

update documentation for dihedral style table/cut
  doc/src/Section_commands.txt
  doc/src/dihedral_table_cut.txt
  doc/src/dihedrals.txt
  doc/src/lammps.book
Owners: none

ignore new style sources in USER-MSIC
  src/.gitignore
Owners: none

cmake: USER-INTEL fix flags
  cmake/CMakeLists.txt
Owners: none

Commit JT 051118 before CEA
  examples/SPIN/read_restart/in.spin.read_data
  examples/SPIN/read_restart/in.spin.restart
  examples/SPIN/read_restart/in.spin.write_restart
  src/SPIN/compute_spin.cpp
  src/SPIN/fix_langevin_spin.cpp
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_nve_spin.h
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_dmi.h
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_exchange.h
  src/SPIN/pair_spin_me.cpp
  src/SPIN/pair_spin_me.h
  src/SPIN/pair_spin_neel.cpp
Owners: none

rename jpeg file, recreate tex file and fix typo in docs for dihedral style table/cut
  doc/src/Eqs/dihedral_table_cut.jpg
  doc/src/Eqs/dihedral_table_cut.tex
  doc/src/Section_commands.txt
  doc/src/dihedral_table_cut.txt
Owners: none

cmake: check that USER-INTEL flags actually work
  cmake/CMakeLists.txt
Owners: none

cmake: add user overwrite for USER-INTEL
  cmake/CMakeLists.txt
Owners: none

tweaks to dump_modify maxfiles doc page
  doc/src/dump_modify.txt
Owners: none

dump_modify maxfiles tweak
  src/dump.cpp
Owners: none

windows portability bugfix
  lib/atc/Function.cpp
Owners: none

cmake: fix icc versioning
  cmake/CMakeLists.txt
Owners: none

cmake: make CMAKE_VERBOSE_MAKEFILE option visible
  cmake/CMakeLists.txt
Owners: none

Update to kim-api-v1.9.5
  lib/kim/Install.py
Owners: @ellio167

cmake: update kim to v1.9.5
  cmake/CMakeLists.txt
Owners: none

cmake: add DOWNLOAD_KIM option
  cmake/CMakeLists.txt
Owners: none

correctly render doc page
  doc/src/fix_bond_react.txt
Owners: none

simplify
  doc/src/fix_bond_react.txt
Owners: none

tweaks1
  doc/src/fix_bond_react.txt
Owners: none

allow smooth restarts
  src/USER-MISC/fix_bond_react.cpp
Owners: @jrgissing

.github/CODEOWNERS:

# This file contains file patterns that triggers automatic
# code review requests from users that are owners of these files
# Order matters, the last match has the highest precedence

# library folders
lib/colvars/*         @giacomofiorin
lib/compress/*        @akohlmey
lib/kokkos/*          @stanmoore1
lib/molfile/*         @akohlmey
lib/qmmm/*            @akohlmey
lib/vtk/*             @rbberger
lib/kim/*             @ellio167

# whole packages
src/COMPRESS/*        @akohlmey
src/GPU/*             @ndtrung81
src/KOKKOS/*          @stanmoore1
src/KIM/*             @ellio167
src/USER-CGDNA/*      @ohenrich
src/USER-CGSDK/*      @akohlmey
src/USER-COLVARS/*    @giacomofiorin
src/USER-DPD/*        @timattox
src/USER-INTEL/*      @wmbrownintel
src/USER-MANIFOLD/*   @Pakketeretet2
src/USER-MEAMC/*      @martok
src/USER-MOFFF/*      @hheenen
src/USER-MOLFILE/*    @akohlmey
src/USER-NETCDF/*     @pastewka
src/USER-PHONON/*     @lingtikong
src/USER-OMP/*        @akohlmey
src/USER-QMMM/*       @akohlmey
src/USER-REAXC/*      @hasanmetin
src/USER-TALLY/*      @akohlmey
src/USER-UEF/*        @danicholson
src/USER-VTK/*        @rbberger

# individual files in packages
src/GPU/pair_vashishta_gpu.*        @andeplane
src/KOKKOS/pair_vashishta_kokkos.*  @andeplane
src/MANYBODY/pair_vashishta_table.* @andeplane
src/USER-MISC/fix_bond_react.*      @jrgissing
src/USER-MISC/*_grem.*              @dstelter92

# tools
tools/msi2lmp/*       @akohlmey
